services:
  # Web Service
  - type: web
    name: beit-shemeshtech
    runtime: node
    buildCommand: "npm install"
    startCommand: "npm start"
    plan: free
    envVars:
      - key: NODE_VERSION
        value: 16
      - key: NPM_CONFIG_PRODUCTION
        value: false
    buildFilter:
      paths:
        - package.json
        - package-lock.json
        - node_modules
        - .npmignore
        - .nvmrc